body {
  background-color: #fafffa;
  font-family: 'Noto Sans', sans-serif;
  font-family: Microsoft YaHei UI;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
     width: 150px;
     height: 150px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  position: sticky;
  top: 0px;
  width: 100%;
  text-align:center;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

a:hover:not(.active) {
  background-color: #14fff2;
  border-radius: 20px;
}

.active {
  background-color:#76bbff;
  border-radius: 20px;
}

.BlogResult {
  border-radius: 20px;
  background-color: white;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.Pagefoot {
  background-color: white;
  color: rgb(0, 0, 0);
  text-align:center;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px;
}

.top{
	width: 50px;
	height: 100px;
	background-color: rgba(0,0,255,0.5);
	border-radius: 10px;
	position: fixed;
	right: 100px;
	bottom: 40%;
}

.top #topArrow{
	width: 30px;
	height: 30px;
	border-top: 2px solid #fff;//利用border和rotate绘制向上的箭头
	border-left: 2px solid #fff;
	display: inline-block;
	transform: translate(9px,35px) rotate(45deg);
	cursor: pointer;
	z-index: 1000;//避免被其他div遮盖
}

.top #topArrow:hover{
	border-width: 4px;
}

p a:link,.Pagefoot a:link,h4 a:link,p a:visited,div a:visited,h4 a:visited{
  color:blue;
  text-decoration: none;
}
.button a:link,.button a:visited{
  text-decoration: none;
  color:white;
}
.button {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    font-size:16px;
    padding: 15px 32px;
    float: left;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.button.after{
    content:" ";
    display:block;
    position:absolute;
    padding-top:300%;
    padding-left:350%;
    margin-left:-20px!important;
    margin-top:-120%;
    opacity:0;
    transition:all 0.8s;
}
.button:active:after {
    padding:0;
    margin:0;
    opacity:1;
    transition:0s;
}
