.a {
    font-family: "google sans";
}
body {
  background-color: #fafafa;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  position: sticky;
  top: 0px;
  width: 100%;
}
.Pagefoot {
 border-top-color: #000；
 border-radius: 10px;
 background-color: #808080;
 color: white;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
}

a:hover:not(.active) {
  background-color: #111;
  border-radius: 20px;
}

.active {
  background-color:#76bbff;
  border-radius: 20px;
}
