body {
  font-family: 'Noto Sans', sans-serif;
  font-family: Microsoft YaHei UI;
  background-color: white;
  background-attachment: fixed;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
img {
     width: 150px;
     height: 150px;
}
div.basic{
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.BlogResult {
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgba(255,255,255,0.5);
}
.Pagefoot {
  background-color: white;
  color: rgb(0, 0, 0);
  text-align:center;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255,255,255,0.5);
}

p a:link,h4 a:link,p a:visited,div a:visited,h4 a:visited{
  color:blue;
  text-decoration: none;
}
button a:link,button a:visited,.Pagefoot a:link,.Pagefoot a:visited{
  text-decoration: none;
  color:white;
}
.button {
    background-color: #4CAF50;
    color: white;
    display: inline-block;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    font-size:16px;
    padding: 15px 32px;
    float: left;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
.button.after{
    content:" ";
    display:block;
    position:absolute;
    padding-top:300%;
    padding-left:350%;
    margin-left:-20px!important;
    margin-top:-120%;
    opacity:0;
    transition:all 0.8s;
}
.button:active:after {
    padding:0;
    margin:0;
    opacity:1;
    transition:0s;
}
